body
{
	width: 1000px;
	margin: auto;
	background-color: #c4babc;
	font-size: 1rem;
	font-family: Calibri, Helvetica, Arial, sans-serif;

	text-align: justify;
	color: #2a3d4e;
}

main {
  max-width: 1000px;
  min-height: 50vh;
  margin: 0 auto;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.justify_text
{
	text-align: justify;
	font-weight: normal;
}

h1 {
  margin: 0 0 1.5rem;
  font-size: 2.8rem;
  line-height: 0.9;
  font-family: Courier,Calibri, Helvetica, Arial, sans-serif;
  color: #b83c7a;
}

p {
  font-size: 1.1rem;
  line-height: 1.4;
}

a {
  color: #F24484;
  text-decoration: none;
}

a:link
{
	color: #F24484;
	text-decoration: none;
}

a:visited
{
	color: #c74a78;
	text-decoration: none;
}

a:hover
{
	color: #ff70a5;
	text-decoration: none;
}
